<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>level</key>
		<integer>1</integer>
		<key>idioms</key>
		<array>
			<string>大言不惭</string>
			<string>虚情假意</string>
			<string>滴水不漏</string>
			<string>高山流水</string>
			<string>风调雨顺</string>
			<string>多多益善</string>
			<string>三顾茅庐</string>
			<string>一诺千金</string>
			<string>万人空巷</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>2</integer>
		<key>idioms</key>
		<array>
			<string>蜻蜓点水</string>
			<string>蛛丝马迹</string>
			<string>翻云覆雨</string>
			<string>只手遮天</string>
			<string>瑕不掩瑜</string>
			<string>群英荟萃</string>
			<string>弹冠相庆</string>
			<string>心如止水</string>
			<string>把酒言欢</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>3</integer>
		<key>idioms</key>
		<array>
			<string>兵不厌诈</string>
			<string>江郎才尽</string>
			<string>百步穿杨</string>
			<string>暗渡陈仓</string>
			<string>画蛇添足</string>
			<string>狼吞虎咽</string>
			<string>口是心非</string>
			<string>金蝉脱壳</string>
			<string>袖手旁观</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>4</integer>
		<key>idioms</key>
		<array>
			<string>孤陋寡闻</string>
			<string>鞠躬尽瘁</string>
			<string>一曝十寒</string>
			<string>同甘共苦</string>
			<string>海誓山盟</string>
			<string>马到成功</string>
			<string>盲人摸象</string>
			<string>乘虚而入</string>
			<string>争分夺秒</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>5</integer>
		<key>idioms</key>
		<array>
			<string>门可罗雀</string>
			<string>炯炯有神</string>
			<string>神采奕奕</string>
			<string>两袖清风</string>
			<string>闻鸡起舞</string>
			<string>投鞭断流</string>
			<string>蓬头垢面</string>
			<string>国色天香</string>
			<string>鹤发童颜</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>6</integer>
		<key>idioms</key>
		<array>
			<string>卧薪尝胆</string>
			<string>喜出望外</string>
			<string>白雪皑皑</string>
			<string>春暖花开</string>
			<string>众星捧月</string>
			<string>丰乳肥臀</string>
			<string>小桥流水</string>
			<string>人山人海</string>
			<string>错落有致</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>7</integer>
		<key>idioms</key>
		<array>
			<string>手不释卷</string>
			<string>蟾宫折桂</string>
			<string>日上三竿</string>
			<string>涓涓细流</string>
			<string>心灵手巧</string>
			<string>日积月累</string>
			<string>妙手回春</string>
			<string>抱薪救火</string>
			<string>森罗万象</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>8</integer>
		<key>idioms</key>
		<array>
			<string>闻名遐迩</string>
			<string>硕果累累</string>
			<string>鹦鹉学舌</string>
			<string>引吭高歌</string>
			<string>膘肥体壮</string>
			<string>栩栩如生</string>
			<string>林海雪原</string>
			<string>爱不释手</string>
			<string>风和日丽</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>9</integer>
		<key>idioms</key>
		<array>
			<string>含糊其辞</string>
			<string>心猿意马</string>
			<string>孜孜不倦</string>
			<string>卖主求荣</string>
			<string>怒发冲冠</string>
			<string>寒冬腊月</string>
			<string>白雪皑皑</string>
			<string>车水马龙</string>
			<string>富丽堂皇</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>10</integer>
		<key>idioms</key>
		<array>
			<string>花枝招展</string>
			<string>山穷水尽</string>
			<string>凤毛麟角</string>
			<string>星罗棋布</string>
			<string>孤云野鹤</string>
			<string>漂泊大雨</string>
			<string>娓娓动听</string>
			<string>肆无忌惮</string>
			<string>闭月羞花</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>11</integer>
		<key>idioms</key>
		<array>
			<string>鹬蚌相争</string>
			<string>鹏程万里</string>
			<string>学富五车</string>
			<string>按图索骥</string>
			<string>三顾茅庐</string>
			<string>痛定思痛</string>
			<string>一箭双雕</string>
			<string>风声鹤唳</string>
			<string>不耻下问</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>12</integer>
		<key>idioms</key>
		<array>
			<string>顺手牵羊</string>
			<string>杯弓蛇影</string>
			<string>鸡鸣狗盗</string>
			<string>瓮中捉鳖</string>
			<string>南辕北辙</string>
			<string>千钧一发</string>
			<string>愁眉苦脸</string>
			<string>高朋满座</string>
			<string>龙盘虎踞</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>13</integer>
		<key>idioms</key>
		<array>
			<string>忠贞不渝</string>
			<string>疑神疑鬼</string>
			<string>戒骄戒躁</string>
			<string>目中无人</string>
			<string>恃才傲物</string>
			<string>孤芳自赏</string>
			<string>学无止境</string>
			<string>黔驴技穷</string>
			<string>声名狼藉</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>14</integer>
		<key>idioms</key>
		<array>
			<string>忐忑不安</string>
			<string>心惊肉跳</string>
			<string>直言不讳</string>
			<string>虎背熊腰</string>
			<string>落落大方</string>
			<string>明眸皓齿</string>
			<string>谈笑风生</string>
			<string>班门弄斧</string>
			<string>披荆斩棘</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>15</integer>
		<key>idioms</key>
		<array>
			<string>振聋发聩</string>
			<string>沧海一粟</string>
			<string>喜上眉梢</string>
			<string>眉飞色舞</string>
			<string>故弄玄虚</string>
			<string>推心置腹</string>
			<string>东窗事发</string>
			<string>海誓山盟</string>
			<string>容光焕发</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>16</integer>
		<key>idioms</key>
		<array>
			<string>刻舟求剑</string>
			<string>指鹿为马</string>
			<string>纸上谈兵</string>
			<string>守株待兔</string>
			<string>南柯一梦</string>
			<string>杞人忧天</string>
			<string>刀山火海</string>
			<string>灯红酒绿</string>
			<string>络绎不绝</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>17</integer>
		<key>idioms</key>
		<array>
			<string>独占鳌头</string>
			<string>独树一帜</string>
			<string>微不足道</string>
			<string>玲琅满目</string>
			<string>程门立雪</string>
			<string>狐假虎威</string>
			<string>精卫填海</string>
			<string>足智多谋</string>
			<string>叶公好龙</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>18</integer>
		<key>idioms</key>
		<array>
			<string>生龙活虎</string>
			<string>螳臂当车</string>
			<string>漫不经心</string>
			<string>克己奉公</string>
			<string>姹紫嫣红</string>
			<string>负荆请罪</string>
			<string>永垂不朽</string>
			<string>大智若愚</string>
			<string>枪林弹雨</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>19</integer>
		<key>idioms</key>
		<array>
			<string>壮志凌云</string>
			<string>百炼成钢</string>
			<string>阳春白雪</string>
			<string>铁石心肠</string>
			<string>掩耳盗铃</string>
			<string>摩肩接踵</string>
			<string>白驹过隙</string>
			<string>集腋成裘</string>
			<string>瞠目结舌</string>
		</array>
	</dict>
	<dict>
		<key>level</key>
		<integer>20</integer>
		<key>idioms</key>
		<array>
			<string>调兵遣将</string>
			<string>高瞻远瞩</string>
			<string>流言蜚语</string>
			<string>长吁短叹</string>
			<string>雷厉风行</string>
			<string>欣欣向荣</string>
			<string>生气勃勃</string>
			<string>熙熙攘攘</string>
			<string>罪魁祸首</string>
		</array>
	</dict>
</array>
</plist>
